# Base URL for Axios HTTP requests to the API Gateway (via Nginx or direct)
VITE_API_BASE_URL=http://api.localhost

# Base short link domain displayed in the link creation input prefix
VITE_ROOT_DOMAIN=http://localhost
